version: '3.1'

services:

  db:
    image: postgres:12-alpine
    restart: always
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: example
    ports:
      - "5432:5432"
    volumes:
      - ./sql/:/docker-entrypoint-initdb.d

  app:
    build: .
    volumes:
      - ../../:/app
    links:
      - db
