name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: npm install
      run: npm install
    - name: Bootstrap packages
      run: yarn lerna bootstrap
